dist/
node_modules
cloudflared*
credentials.js
sample.js

*.tsbuildinfo
npm-debug.log
env.sh
/coverage

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.aider*
.DS_Store
.env
